

body {
    background-color: cornflowerblue;
}
.nav-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 6px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
}
.nav-list {
    text-decoration: none;
    padding: 10px;
    color: black;
}
li {
    list-style: none;
}

.section {
    flex-direction: column;
    align-items: center;
    display: none;
}
.reading-collection {
    width: 700px;
}
.reading-collection .book {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
}

.book h2 {
    font-size: 30px;
    font-family: 'Georgia', serif;
    margin-right: 10px;
}
h3 {
    font-family: 'Garamond', serif;
    font-size: 30px;
    font-weight: 600;
}
.book p {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}
.reading-collection .book .remove {
    position: absolute;
    right: 2%;
    border:none;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    width: 100px;
    height: 50px;
    background-color: grey;
}
.active {
    display: flex;
}
.input-section {
    width: 80%;
    margin: 1rem auto;
  }
  
  .input-author,
  .input-title {
    width: 300px;
    display: block;
    margin-block: 0.5rem;
    margin-inline: auto;
    height: 2rem;
    border: 1px solid black;
    border-radius: 4px;
  }
  
  input::placeholder {
    padding: 2%;
  }
  
  .input-author:hover,
  .input-title:hover {
    border: 1.5px;
    box-shadow: 0.2rem 0.2rem 0 #686a6b;
  }
  
  #btnAdd {
    width: 70px;
    display: block;
    margin-inline: auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
    height: 2rem;
  }
  
  

footer {
    position: absolute;
    bottom: 0;
    width: 90%;
    margin-inline: auto;
    text-align: center;
    color: rgb(241, 238, 238);
    font-weight: 800;
  }
  